/***** Global Declarations *****/

body {
    background-image: url(bg.jpeg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100px;
    max-width: 800px; 
    background-color: black;
    color: rgb(247, 61, 244);
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

/* Link Styles */
a {
    color: yellow;
}

a:visited {
    color: rgb(17, 198, 222)
}

a:hover {
    color: rgb(113, 235, 6);
}

/* Typography */
h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight:lighter;
    background-color: black;
    margin: auto;
    border: solid rgb(255, 234, 0) 7px;
    border-radius: 6px;
    margin-bottom: 75px;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
    text-shadow: 0px 2px 1px rgb(145, 1, 145);
    border-style: ridge;
}

.gentext {
    background-color: black;
    border: solid 7px rgb(255, 234, 0);
    border-style:ridge;
    color: rgb(182, 255, 247);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: larger;
    font-weight:lighter;
    margin-top: 45px; 
    padding-block: 15px;
}

/* Button Styles */
button {
    color:rgb(247, 61, 244);
    background-color: black;
    width: 200px;
    height: 100px;
    font-size: 40px;
    border: solid 7px rgb(255, 234, 0);
    border-radius: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: ridge;
    text-shadow: 0px 1px 1px rgb(124, 0, 124);
    margin-bottom: 30px;
}

button:hover {
    box-shadow: 0px 0px 15px rgb(255, 234, 0);
}

#indexbuttons {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#homebutton {
    margin: auto;
    font-size: 28px;
    padding-bottom: 5px;
    align-items: center;
}

/***** Media Queries *****/

/* Style used, after the the viewport reaches 350px until it reaches 375px width */
@media screen and (max-width: 375px){
    .indbuttons {
        font-size: 28px;
        margin: 3px;
        height: 65px;
    }

    .screentitle {
        font-size: 38px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #homebutton {
        height: 50px;
        width: 125px;
        font-size: 28px;
    }
    
    .articlepic {
        height: 200px;
        width: 225px;
    }
    
}

/* Style used until the viewport reaches 350px width */
@media screen and (max-width: 350px){
    .indbuttons {
        font-size: 20px;
        margin: 3px;
        height: 55px;
    }

    .screentitle {
        font-size: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}

